/*global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*    border-style: solid;*/
}

html {
    font-size: 50px;
    font-family: 'Inconsolata', sans-serif;
}

.navBar{
    list-style-type: none;
    /*removes the dots*/
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #111;
    width: 100%;
}

.greenText {
    color: #10FF19;
}

.blueText{
    color: #001DFF;
}
.darkblueText{
    color: #080A43;
}

.darkyellowText{
    color: #4A4D0D;
}

.darkredText{
    color: #4E1010;
}

.darkgreenText{
    color: #043106;
}

.blackBG {
    background-color: black;
    color: white;
}

.grayBG {
    background-color: #E6E6E6;
    color: black;
}

.darkblueBG{
    background-color: #080A43;
    color: #E6E6E6;
}

.darkyellowBG{
    background-color: #4A4D0D;
    color: #E6E6E6;
}

.darkredBG{
    background-color: #4E1010;
    color: #E6E6E6;
}

.darkgreenBG{
    background-color: #043106;
    color: #E6E6E6;
}

/*end global---------------------------*/

/* MAIN Page---------------------------------------------------------------------------------------------------*/

/*Sections*/
.main-section {
    max-width: 100%;
    margin-top: 100px;
    padding: 20px;
}

.work-section {
    max-width: 390px;
    margin: 0 auto;
    margin-top: 200px;
}

/*End Sections*/

/*Headings*/
#main-heading {
    max-width: 1150px;
    margin: 0 auto;
}

.main-section h1 {
    font-size: 3rem;
    text-align: center;
}

.main-section h3 {
    font-size: 1.2rem;
    text-align: right;
    padding: 10px;
    border-right-style: solid;
    border-color: black;
    animation: textMarker 1s alternate infinite;
}

.main-section h3:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.work-section h2 {
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
}

.work-section h2:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    padding-top: 20px;
    border-top: 5px solid white;
    transition: .3s;
}

.work-section h2:hover:after {
    width: 90%;
    animation: high .5s .3s ease-in-out forwards;
    text-align: center;
}

.work-section h2:hover {
    cursor: pointer;
}

/*end Headings*/


/* END MAIN Page---------------------------------------------------------------------------------------- */

/* PORTFOLIO Page-----------------------------------------------------------------------------------------------*/

/*
#portfolio-body h1 {
    display: block;
    max-width: 920px;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: white;
}
*/

.heading-header-dark{
    display: block;
    max-width: 920px;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: white;
}

#portfolio-section {
    max-width: 1150px;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-areas:
        "theme1 theme2"
        "theme3 theme4";
    grid-gap: 50px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.theme-container {
    border: solid;
    height: 30vh;
}

.theme-container h2 {
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;

    /*Align Text*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#theme1 {
    grid-area: theme1;
    border-color: #001DFF;
}

#theme2 {
    grid-area: theme2;
    border-color: #F5FF00;
}

#theme3 {
    grid-area: theme3;
    border-color: #FF0000;
}

#theme4 {
    grid-area: theme4;
    border-color: #00FF0A;
}


/* BASIC PAGES GLOBAL--------------------------------------------------------------------------------------------*/


.theme-section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.theme-section{
    max-width: 100%;
    height: auto;
    padding: 50px;
    margin: 20px auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "theme-heading"
        "assignment-container";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.theme-heading{
    grid-area: theme-heading;
    text-align: left;
    padding-left: 50px;
    font-size: .8rem;
}

.assignment-container{
    grid-area: assignment-container;

    max-width: 100%;
    height: auto;
    padding: 50px;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "assignment-title"
        "assignment-image"
        "assignment-text";
    grid-gap: 0px;

    text-align: left;

}

.assignment-title{
    grid-area: assignment-title;
    display:block;
    margin: auto;
    font-size: 1rem;
    width: 60%;
}

.assignment-image{
    grid-area: assignment-image;
    margin: auto;
    margin-bottom: 30px;
    width: 60%;
}

.assignment-text{
    grid-area: assignment-text;
    font-size: .6rem;

}

/* ---------------------------------------------------------------------------------------------------*/








/* MAIN Page---------------------------------------------------------------------------------------------------*/

.heading-header-light{
    display: block;
    max-width: 920px;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: black;
}


/* ANIMATIONS */

@keyframes textMarker {
    to {
        border-color: white;
    }
}

@keyframes high {
    from {
        font-size: 0;
    }

    to {
        height: 1rem;
        content: '1st Semester Portfolio';
        font-size: .5rem;
        background-color: white;
        color: black;
        margin-top: 20px;
    }
}
