/*global*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*    border-style: solid;*/
}

body {
    padding: 0;
    padding-top: 10vh;
}

html {
    font-size: 50px;
    font-family: 'Inconsolata', sans-serif;
}

.whiteText .link .icon-text {
    color: white;
}

.whiteText .link {
    border-color: white;
}

.greenText {
    color: #10FF19;
}

.blueText {
    color: #001DFF;
}

.darkblueText {
    color: #080A43;
}

.darkyellowText {
    color: #4A4D0D;
}

.darkredText {
    color: #4E1010;
}

.darkgreenText {
    color: #043106;
}

.blackBG {
    background-color: black;
    color: white;
}

.grayBG {
    background-color: #E6E6E6;
    color: black;
}

.darkblueBG {
    background-color: #080A43;
    color: #E6E6E6;
}

.darkyellowBG {
    background-color: #4A4D0D;
    color: #E6E6E6;
}

.darkredBG {
    background-color: #4E1010;
    color: #E6E6E6;
}

.darkgreenBG {
    background-color: #043106;
    color: #E6E6E6;
}

/*end global---------------------------*/

/* HEADER---------------------------------------------------------------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    height: 10vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1000;
}

.top-nav {
    display: flex;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: -100vh;
    /* hide the nav */
    z-index: 50;
    background-color: black;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
    padding: 30px;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 2rem;
    list-style: none;
}

.nav-link {
    height: 100%;
    font-size: 1rem;
    text-decoration: none;
    color: white;

    transition: 200ms cubic-bezier(1, 0, 1, 1);

}

.nav-link:hover {
    font-size: 1.5rem;
}

.top-nav.open {
    top: 0;
}

.menu-toggler {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
    margin: auto;
    margin-right: 1rem;
    margin-left: 1rem;
}

.back-arrow {
    color: white;
    width: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.back-arrow:hover{
    cursor: pointer;
}


/*hamburger menu--------------------------------------*/

.menu-toggler {
    display: inline-block;
    cursor: pointer;
}

.bar1 {
    margin-bottom: 17px;
}

.bar1,
.bar2 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}


/* Rotate first bar */
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 5px);
    transform: rotate(-45deg) translate(-9px, 5px);
}


/* Rotate last bar */
.open .bar2 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* MAIN Page---------------------------------------------------------------------------------------------------*/

/*Sections*/
.main-section {
    max-width: 100%;
    margin-top: 100px;
    padding: 20px;
}

.work-section {
    max-width: 390px;
    margin: 0 auto;
    margin-top: 200px;
}

/*End Sections*/

/*Headings*/
#main-heading {
    max-width: 1150px;
    margin: 0 auto;
}

.main-section h1 {
    font-size: 3rem;
    text-align: center;
}

.main-section h3 {
    font-size: 1.2rem;
    text-align: right;
    padding: 10px;
    border-right-style: solid;
    border-color: black;
    animation: textMarker 1s alternate infinite;
}

.main-section h3:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.work-section h2 {
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
}

.work-section h2:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    padding-top: 20px;
    border-top: 5px solid white;
    transition: .3s;
}

.work-section h2:hover:after {
    width: 90%;
    animation: high .5s .3s ease-in-out forwards;
    text-align: center;
}

.work-section h2:hover {
    cursor: pointer;
}

/*end Headings*/


/* END MAIN Page---------------------------------------------------------------------------------------- */

/* PORTFOLIO Page-----------------------------------------------------------------------------------------------*/

/*
#portfolio-body h1 {
    display: block;
    max-width: 920px;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: white;
}
*/

.heading-header-dark {
    display: block;
    max-width: 920px;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: white;
}

#portfolio-section {
    max-width: 1150px;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-areas:
        "theme1 theme2"
        "theme3 theme4";
    grid-gap: 50px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.theme-container {
    border: solid;
    height: 30vh;
}

.theme-container:hover {
    cursor: pointer;
}

.theme-container h2 {
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;

    /*Align Text*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#theme1 {
    grid-area: theme1;
    border-color: #001DFF;
}

#theme2 {
    grid-area: theme2;
    border-color: #F5FF00;
}

#theme3 {
    grid-area: theme3;
    border-color: #FF0000;
}

#theme4 {
    grid-area: theme4;
    border-color: #00FF0A;
}


/* BASIC PAGES GLOBAL--------------------------------------------------------------------------------------------*/


.theme-section h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.theme-section {
    max-width: 100%;
    height: auto;
    padding: 50px;
    margin: 20px auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "theme-heading"
        "assignment-container";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.theme-heading {
    grid-area: theme-heading;
    text-align: left;
    padding-left: 50px;
    font-size: .8rem;
}

.assignment-container {
    grid-area: assignment-container;

    max-width: 100%;
    height: auto;
    padding: 50px;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "assignment-title"
        "assignment-image"
        "assignment-text";
    grid-gap: 0px;

    text-align: left;

}

.assignment-title {
    grid-area: assignment-title;
    display: block;
    margin: auto;
    font-size: .8rem;
    width: 60%;
}

.assignment-image {
    grid-area: assignment-image;
    width: 100%;
}

.assignment-text {
    grid-area: assignment-text;
    font-size: .6rem;
    margin-top: 30px;

}

.image-link {
    display: block;
    margin: auto;
    width: 60%;
}

.icons {
    display: flex;
    margin: auto;
    width: 60%;
}

.link {
    display: block;
    align-items: center;
    text-align: center;

    width: 100%;
    margin: auto;
    margin: 10px;

    border: solid black;
    padding: 5px;
    text-decoration: none;
}

.link:hover{
    opacity: .7;
    cursor: pointer;
}

.icon-image {
    grid-area: icon-image;
    width: 80px;
}

.icon-text {
    font-size: .6rem;
    color: black;
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------*/








/* MAIN Page---------------------------------------------------------------------------------------------------*/

.heading-header-light {
    display: block;
    max-width: 920px;
    font-size: 1.3rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: black;
}


/* ANIMATIONS */

@keyframes textMarker {
    to {
        border-color: white;
    }
}

@keyframes high {
    from {
        font-size: 0;
    }

    to {
        height: 1rem;
        content: '1st Semester Portfolio';
        font-size: .5rem;
        background-color: white;
        color: black;
        margin-top: 20px;
    }
}
