/*Start global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*    border-style: solid;*/
}

html {
    font-size: 50px;
    font-family: 'Inconsolata', sans-serif;
}


/*Sections*/
.main-section {
    max-width: 100%;
    margin-top: 100px;
    padding: 20px;
}

.work-section {
    max-width: 390px;
    margin: 0 auto;
    margin-top: 200px;
}

/*End Sections*/

#main-heading {
    max-width: 1150px;
    margin: 0 auto;
}

/*Headings*/
.main-section h1 {
    font-size: 3rem;
    text-align: center;
}

.main-section h3 {
    font-size: 1.2rem;
    text-align: right;
    padding: 10px;
    animation: textMarker 2.5s normal infinite;
}

.main-section h3:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.work-section h2 {
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
}

/*
.work-section h2:hover{
    animation: borderBottom 1s forwards ease-in-out;
}
*/


.work-section h2:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    padding-top: 20px;
    border-top: 5px solid white;
    transition: .3s;
}

.work-section h2:hover:after{
    width:90%;
    animation: high .5s .3s ease-in-out forwards;
    text-align: center;
}

.work-section h2:hover{
    cursor: pointer;
}


/*end Headings*/

.greenText {
    color: #10FF19;
}

.blackBG {
    background-color: black;
    color: white;
}



/* ANIMATIONS */

@keyframes textMarker {
    to {
        border-right-style: solid;
    }
}

@keyframes high {
    from{
        font-size: 0;
    }
    to {
        height: 1rem;
        content: '1st Semester Portfolio';
        font-size: .5rem;
        background-color: white;
        color: black;
        margin-top: 20px;
    }
}


